<div class="container">
  <div class="row">
      <a routerLink="/docker/new" class="btn btn-primary pull-right">Create New</a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>BaseImage</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dockerFile of dockerFiles" >
          <td>{{dockerFile.title}}</td>
          <td>{{dockerFile.description}}</td>
          <td>{{dockerFile.base_image}}</td>
          <td>
              <button type="button" class="btn btn-warning btn-sm">Edit</button>
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
