<div class="container">
  <div class="row">
      <a routerLink="/docker/new" class="btn btn-primary pull-right">Create New</a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Services</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>
              <button type="button" class="btn btn-warning btn-sm">Edit</button>
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td>
              <button type="button" class="btn btn-warning btn-sm">Edit</button>
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>
              <button type="button" class="btn btn-warning btn-sm">Edit</button>
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
